[submodule "Sorting-Algorithms"]
	path = Sorting-Algorithms
	url = https://github.com/michalspano/Sorting-Algorithms.git
[submodule "Study-notebooks"]
	path = Study-notebooks
	url = https://github.com/michalspano/Study-notebooks.git
