:root
{
  --defaultFont: Futura;
}

html
{
  background:url(https://i.pinimg.com/originals/47/2a/e4/472ae4d2a6388cbc3e9856dc876dee5b.gif)no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size: cover;
  backdrop-filter: blur(20px);
}

h1, h2, h5
{
  text-align: center;
  color: white;
  text-shadow: black;
  font-family: var(--defaultFont);
}

h2
{
  font-size: 160%;
}

p
{
  text-align: center;
  color: white;
}
